[build]
builder = "NIXPACKS"
buildCommand = "npx prisma generate && npm run build"

[deploy]
startCommand = "npx prisma db push && npm run start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
